@use "./basic";

.list-group {
  visibility: hidden;
  height: 0px;
  overflow: hidden;
  transition: all 0.5s;
}

.show-list {
  visibility: visible;
  height: 300px;
}

.main-bg {
  padding: 100px 20px;
  background: lightgrey;
}

.black-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  padding: 30px;
  visibility: hidden;
  opacity: 0;
  transition: all 1s;
}

.white-bg {
  background: white;
  border-radius: 5px;
  padding: 30px;
  margin-top: -10px;
  transition: all 0.5s;
}

.show-modal2 {
  margin-top: 10px;
}

.show-modal {
  visibility: visible;
  opacity: 1;

}

.badge {
  cursor: pointer;
}

.bg-light {
  color: black;
}

.dark {
  background: black;
  color: white;
}