@use "./basic";

%alert-box {
    padding: 20px;
    color: white;
    border-radius: 5px;
    width: 700px;
    margin-bottom: 10px
}

.alert-box-skyblue {
    @extend %alert-box;
    background-color: skyblue;
    display: none;
}

.alert-box-green {
    @extend %alert-box;
    background-color: greenyellow;
}

.alert-box-grey {
    @extend %alert-box;
    background-color: grey;
}

.click-box {
    border: none;
    padding: 10px;
    background-color: rgb(255, 61, 61);
    color: white;
}

.click-box:hover {
    background-color: rgb(255, 141, 141);
}

.x-btn {
    float: right;
    color: rgb(54, 54, 54);
    font-size: 24px;
    margin-top: -2px;
}