body {
    margin: 0px;
}

html {
    line-height: 1.15;
}

div, input, textarea {
    box-sizing: border-box;
}

.main-background {
    width: 100%;
    height: 500px;
    background-image: url(../img/shoes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1px;
    color: white;
}
.main-title {
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 50px;
    margin-top: 120px;
}
.main-content {
    font-size: 20px;
    margin-top: -20px;
}

.main-button {
    padding: 15px;
    font-size: 20px;
    background: white;
    border: none;
    border-radius: 5px;
    position: relative;
    bottom: 10px;   
}
.explain-box {
    width: 80%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: #eee;
    position: relative;
    top: -40px;
}
/* input[type=text] {
    padding: 20px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
} */

.form-background {
    background-color: black;
    padding: 30px;
}

.form-white {
    background-color: white;
    padding: 30px;
    width: 80%;
    max-width: 600px;
    margin: auto;
    font-family: Pretendard;   
}

.form-input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.w-50 {
    width: 50%;
    float: left;
    padding: 10px;
}

.w-100 {
    width: 100%;
    padding: 10px;
}

.yellow-button {
    display: block;
    margin-left: auto;
    float: right;
    background-color: rgb(253, 220, 72);
    border: none;
    width: 100px;
    height: 30px;
    color:white;
}